/* Font Family Added */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;300;400;500;700;900&display=swap');

/* Common CSS */
.App {
  padding: 40px 0px;
  font-family: sans-serif;
  text-align: center;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0px;
  background-color: rgba(15, 13, 14);
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  font-family: 'Outfit', sans-serif;
}
.container {
  margin: 0px auto;
  max-width: 70%;
}
h1 {
  font-size: 40px;
  line-height: 50px;
  color: #fff;
  margin: 0px 0px 20px;
}
table {
  width: 100%;
  border: 1px solid grey;
  border-collapse: collapse;
}
table th {
  font-weight: 700;
  background-color: rgb(35, 31, 32);
}
table tbody tr {
  background-color: rgba(15, 13, 14);
}
table tbody tr:nth-child(even) {
  background-color: rgb(23 23 23);
}
table :is(th, td) {
  padding: 12px 20px;
}
.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
