footer {
  border-bottom: 15px solid #101820;
}
.paymentOptionImg {
  max-width: 150px;
}
.footerInner {
  margin-top: 70px;
  padding: 45px 0px 60px;
  border-top: 1px solid #a0a0a076;
  display: flex;
  justify-content: space-between;
}
