.themeButton {
  padding: 0px 16px;
  background: #9ebae0;
  color: rgb(35, 31, 32);
  text-transform: uppercase;
  border: none;
  font-weight: 900;
  border-radius: 4px;
  font-size: 10px;
  line-height: 30px;
  cursor: pointer;
}

.themeButton:hover {
  background: #569eff;
  color: #fff;
  transition: background 0.4s ease-in-out, color 0.4s ease-in-out;
}
